* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
}
nav {
  background-color: #ff8a00;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
nav > div {
  display: flex;
  align-items: center;
}
.nav_logo > a,
.nav_logo > a > img {
  width: 12rem;
  height: 4rem;
}
.nav_app > a,
.nav_app > a > img {
  width: 2.6rem;
  height: 3.4rem;
  margin-left: 1.5rem;
}
.top {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.top > p > span {
  font-weight: 600;
}
.bottom > ul > li {
  height: 4.6rem;
  border-bottom: 1px solid #d1d1d1;
}
.bottom > ul > li > input {
  border: none;
  outline: none;
  width: 100%;
  height: 4.6rem;
  line-height: 4.6rem;
  padding-left: 2rem;
  box-sizing: border-box;
}
.bottom > div {
  width: 80%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  margin: 2rem auto;
  color: white;
  background-color: #ff8a00;

  font-size: 2.6rem;
}
.bottom > ul > li:first-of-type {
  position: relative;
}
.bottom > ul > li > button {
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  width: 22%;
  height: 3rem;
  /* background-color: red; */
  line-height: 3rem;
  border: 1px solid #c3c3c366;
  text-align: center;
  color: #797979;
}
